<!-- <!DOCTYPE html>
<html>
<head>
    <title>History</title>
</head>
<body>
    <% historyLogs.forEach(log => { %>
        <div>
          <p>API Name: <%= log.apiName %></p>
          <p>Request Data: <%= JSON.stringify(log.requestData) %></p>
          <p>Response Data: <%= JSON.stringify(log.responseData) %></p>
          <p>Timestamp: <%= log.timestamp %></p>
        </div>
      <% }) %>
</body>
</html> -->