<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


    <style>
      #weatherContainer {
          display: flex;
      }

      #map {
        height: 400px; /* Example height */
        width: 100%; /* Example width */
      }

      #weatherTable {
          flex: 1;
      }
      .weather-icon {
        width: 30px;
        height: 30px;
      }
      footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 10px 0; 
          background-color: #007bff;
          color: white;
          text-align: center;
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">WeatherApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Main <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/searchlogs">History</a>
            </li>
            <% if (isAdmin) { %>
              <li class="nav-item">
                  <a class="nav-link" href="/admin">Admin Panel</a>
              </li>
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
  </nav>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mx-auto text-center">
          <form id="weatherForm" action="/" method="post">
            <input type="text" id="cityName" name="cityName" placeholder="Enter city name" required>
            <button type="submit">Get Weather</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container" id="weatherContainer">
      <div id="weatherTable">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title" id="weatherCity">Weather in City Name</h5>
                  <p class="card-text" id="weatherDescription">Weather description goes here...</p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item" id="weatherTemperature">Temperature: --</li>
                  <li class="list-group-item" id="weatherWind">Wind: --</li>
                  <li class="list-group-item" id="weatherHumidity">Humidity: --</li>
                  <li class="list-group-item" id="weatherPressure">Pressure: --</li>
                  <li class="list-group-item" id="weatherClouds">Cloudiness: --</li>
              </ul>
          </div>
      </div>

      <div id="map" class="mb-4" style="height: 400px; width: 500px;"></div>
    </div>

    <div class="container">
      <canvas id="humidityChart"></canvas>
    </div>

  <div class="container">
    <h3>Humidity Forecast</h3>
    <canvas id="humidityForecastChart"></canvas>
  </div>  

  <div id="forecastContainer">
    
  </div>

<div class="modal fade" id="adminAlertModal" tabindex="-1" role="dialog" aria-labelledby="adminAlertModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="adminAlertModalLabel">Admin Action</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Admins cannot perform weather searches. Blame the developer Izbassar that wanted so :)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <br><br><br><br><br><br><br><br><br><br>

  <footer class="bg-primary text-white text-center p-3">
    <div class="footer-content">
        <p>&copy; 2024 WeatherApp      student: Izbassar Orynbassar, SE-2202</p>
        <p>Powered by OpenWeatherAPI, Weatherbit, and Tomorrow.io</p>
        <div>
            <a href="your-website-url" class="btn btn-outline-light btn-sm">Website</a>
            <a href="your-app-url" class="btn btn-outline-light btn-sm">App</a>
            <a href="https://instagram.com/yourusername" class="btn btn-outline-light btn-sm">Instagram</a>
            <a href="https://t.me/yourusername" class="btn btn-outline-light btn-sm">Telegram</a>
        </div>
        <div>
            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#infoModal">More Info</button>
        </div>
    </div>
  </footer>

    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="infoModalLabel">Information</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Here you can add additional information about the BMI Calculator, health tips, contact information, or other relevant content.
              </div>
          </div>
      </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/script.js"></script>
    <script>
      document.getElementById('weatherForm').addEventListener('submit', function (event) {
          if (document.getElementById('cityName').disabled) {
              event.preventDefault();
              $('#adminAlertModal').modal('show');
          } else {
              const city = document.getElementById('cityName').value;
              fetchWeather(city);
              fetch14DayWeatherForecast(city);
            }
      });
    </script>
</body>
</html>